.container {
  position: relative;
  z-index: 1;
  height: 100vh;
}

.content {
  width:100%;
  height: 100vh;
  /* overflow: scroll; */
  padding-bottom: 100px;
  margin-top: 20px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  position: sticky;
  top: 0;
  background-color: #0f172a;
  color: white;
  z-index: 2;
}

.logo {
  font-size: 50px;
  font-weight: bold;
  padding: 10px 10px;
}

.navMenu {
  display: flex;
  column-gap: 10px;
}

.navButton {
  padding: 10px;
}

.activeButton {
  background-color: #293b75;
  border-radius: 50px;
  padding: 10px;
}

.hamburger {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px;
  margin: 15px 0px 15px 15px;
  width: 50px;
  height: 50px;
  right: 10px;
}

.hamburger span {
  height: 0.4rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;
}

@media screen and (max-width: 768px) { 
  .hamburger {
    display: flex;
    align-items: flex-end;
  }

  .navBar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  }

  .navMenu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navMenuOpen {
    display: flex;
  }

  .content {
    position: fixed;
    top: 90px;
    overflow: scroll;
  }

  .activeButton {
    border-radius: 0px;
  }
}
