.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.searchContainer {
  border: 1px gray solid;
  margin-bottom: 5px;
  width: 100%;
}

.inStockContainer {
  display: flex;
  flex-direction: row;
}

.inStockBox {
  border: 1px gray solid;
  width: 30px;
  margin-right: 5px;
}